.celebrity{
    text-align: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}
.celebrity:hover{
    box-shadow: rgba(22, 20, 156, 0.493) 0px 3px 8px;
    transition: all 0.22s ease-in-out;
    border-radius: 10px;
}
.celebrity h2{
    font-weight: 600;
}

.celebrity img{
    width: 200px;
    height: 290px;
}
.invite-button{
    background-color:#d72631;
    border:1px solid #d72631;
    font-size: 20px;
    color:white;
    width:100%;
    padding:10px;
    cursor: pointer;

}
.invite-button:hover{
    background-color: white;
    color:#d72631;
    transition: all 0.3s ease-in-out;
}
.invite-icon{
    font-size: 15px;
}