.see-invite-person{
    background-color:#d72631;
    border:1px solid #d72631;
    color:white;
    padding:5px 15px;
    border-radius: 3px;
    font-size: 17px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    margin-left: 25%;;
}
.see-invite-person:hover{
    background-color: white;
    color:#d72631;
    transition: all .5s ease-in-out;
}
.child-container{
    padding-bottom: 10px;
}