.highlight {
    text-align: center;
    color:#1a6a7a;
}

.container{
    width: 95%;
    margin:auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;
    
}
.celebrites{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 20px;
}
.summary{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 5px;
    min-height: 200px;
    position: sticky;
    top:60px;
}
.summary:hover{
    box-shadow: rgba(22, 20, 156, 0.493) 0px 3px 8px;
}